*{
  box-sizing: border-box;
  font-family:Helvetica, Arial;
}
header>h1{
  margin: 0px;
  float:left;
  padding: 0px 0px 5px 0px;
}
span{
  color:#9b1417;
}
header{
  border:2px solid black;
  height: 50px;
  width:90%;
  padding-bottom: 30px;
  margin: 0px 0px 20px 5%;
  background-color: black ;
  color: white;
  float:left;
  clear:both;
}
header>h2{
  border-bottom: 3px solid #9b1417;
  color:black;
  margin: 0px 0px 0px 0px;
  display:inline-block;
  width: 100%;
  float:left;
}

header>nav>ul>li>h3>a{
  text-decoration: none;
  color: white;
  margin: 0px;
  display:inline-block;
  float:left;
}

header>nav>ul>li{
  list-style:none;
  display: inline-block;
  font-size: 15px;
  float:left;
  margin: 0px 0px 20px 20px;
}
header>nav>ul{
  margin:0px;
  display:inline-block;
  float:left;
  position: relative;
  top: -8px;
}

.ru{
  margin-left: 17%;
}

.ColL{
  border-top: 2px solid #9b1417;
  height: 490px;
  width: 40%;
  padding-left: 0px;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  float: left;
  clear: both;
}
.Lefttex{
  font-size: 17px;
  margin:0px 5px 0px 2px;
}
.Lbtex{
  margin: 3px 3px 0px 0px;
  font-size: 12px;
}
.Lright{
  height: 190px;
  width:45%;
  padding-left: 0px;
  margin: 7px 0px 0px 10px;
  display: inline-block;
  float:left;
  font-size: 12px;
}

.Lleft{
  height: 190px;
  width:45%;
  padding-left: 0px;
  margin: 7px 8px 0px 0px;
  display: inline-block;
  float:left;
  font-size: 12px;
}

/* Beginning of Right Side Content*/

.ColR{
  border: 2px solid white;
  height: 490px;
  width: 25%;
  padding-left: 0px;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  float: left;
}
/*Column 2 Right*/

.Rsml{
  border:1px solid #C0C0C0;
  border-left: white;
  border-right: white;
  border-bottom: white;
  height: 70px;
  width:100%;
  padding:0px 0px 40px 0px;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  float:left;
  font-size: 10px;
  line-height: 15px;
}

/* 2nd Column link text */
.Rtex{
  text-decoration: none;
  padding:0px 10px 0px 5px;
  float:left;
  color:black;
  font-size: 12px;
}
/* 2nd column link text,"minum"*/
.marge{
  margin: 0px 0px 0px 5px;
  color: #9b1417;
}
.topR{
  height: 200px;
  width:100%;
  padding-left: 0px;
  margin: 0px 0px 301.120px 0px;
  display: inline-block;
  float:left;
}

/* Images in bottom Left */

.Llimg{
  width:100%;
  height: 80%;
  margin:0px 0px 0px 0px;
  display: inline-block;
}
.Limg{
  width:100%;
  height: 225px;
  display: inline-block;
  margin: 0px 0px 0px 0px;
  float:left;
  background-color: blue;
}

.Rtimg{
  width:100%;
  height: 100%;
  display: inline-block;
  margin-left:20px
}
.Rlimg{
  width:100%;
  height: 80%;
  margin:0px 0px 0px 0px;
  display: inline-block;
}
/*End of Images Section*/



.Lbottom{
  border: 2px solid white;
  height: 500px;
  width: 18%;
  padding-left: 0px;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  float: left
}
.Lup{
  border:2px solid white;
  height: 280px;
  width:100%;
  padding-left: 0px;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  float:left;
}
.Rlast{
  border:1px solid #C0C0C0;
  border-left: white;
  border-right: white;
  border-top: white;
  text-decoration: none;
  height:33px;
  width:100%;
  padding:0px 0px 0px 0px;
  margin: 5px 0px 0px 0px;
  font-size: 12px;
}
.tu{
  text-decoration:none;
  color:black;
  font-size: 13px;
}
.red{
  margin: 7px 0px 0px 25px;
  border-bottom: 2px solid #9b1417;
  font-size: 26px;
}
.size{
  font-size: 26px;
  float:left;
  margin: 0px 0px 0px 0px;
}
/*Next Page*/

section>h1{
  font-size: 30px;
  font-weight: bold;
  margin:15px 0px 0px 0px;
}
section>h2{
  font-size: 15px;
  font-weight: bold;
  margin: 4px 10px 0px 0px;
}
section>section>img{
  width:100%;
  height: 200px;
  margin: 0px 0px 0px 0px;
}
section>h1>a{
  color:grey;
  font-weight: normal;
  font-size: 14px;
  margin:0px 0px 0px 10px;
}
.lastone{
  height: 400px;
  width:60%;
  padding-left: 0px;
  margin: 0px 79px 0px 0px;
  float:right;
}
.Ndone{
  margin-top: 60px;

}
.R2sml{
  border:1px solid #C0C0C0;
  border-left: white;
  border-right: white;
  border-bottom: white;
  height: 40px;
  width:80%;
  padding:15px 0px 10px 0px;
  margin: 20px 0px 0px 0px;
  display: inline-block;
  float:left;
  font-size: 13px;
  line-height: 15px;
}
.C2olL{
  height: 300px;
  width: 30%;
  padding-left: 0px;
  margin: 20px 0px 0px 0px;
  display: inline-block;
  float: left;
  clear: both;
}
.done{
  height: 500px;
  width: 80%;
  padding-left: 0px;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  float: left
}

.vlast{
  height: 400px;

  border-width:50%;
  margin: 20px 0px 0px 0px;
  float: left;
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
}
footer{
  font-size: 30px;
  margin: 0px 0px 70px 0px;
  height: 90px;
  width:100%;
  color:#9b1417;
  clear: both;
}
footer>i{
  margin:30px 10px 0px 0px;
}
footer>h6{
  color:#C0C0C0;
  font-size:14px;
  margin:0px 0px 0px 0px;
  float: right;
}
footer>ul{
  list-style:none;
  margin: 0px 0px 0px 0px;
  float:right;

}
footer>ul>li{
  color:grey;
  font-size:14px;
  height:15px;
  width: 60px;
  border: 2px solid grey;
  border-bottom: white;
  border-top: white;
  display: inline-block;
}

/* Pixel 2 to Ipad Pro */

@media only screen and (max-width:1024px){
  header>nav>ul{
  display: none;
  }
}
@media only screen and (max-width: 411px){
  header{
    width:100%;
    font-size: 1em;
  }
  .Lup{
    width:100%;
  }
  .Limg{
    width:60%;
  }
}
